body{
	background: #3D3D3D;
	width: 100%;
}
h1,h2,h3,h4,h5,h6,p,a{
	color: #FFF;
	font-weight: 300;
}
h1{font-size: 50px;line-height: 0px;font-weight: 900;padding: 10;}
h2{font-size: 50px;line-height: 0px;font-weight: 900;padding: 10;}
h3{font-size: 45px;}
h4{font-size: 40px;}
h5{font-size: 35px;}
h6{font-size: 30px;}
a,p,u{font-size: 20px;}
a, u {text-decoration: none;}
body {
	margin: 0;
    padding: 0;
	background: #000;
	overflow-x:hidden;
	font-family: 'Open Sans';
	font-style: normal;
	font-size: 13px;
	font-weight: 400;
	list-style-type: none;
}
header{
	background: #333;
	height: 50px;
 	width:110%;
	margin-right:10px;
}
header nav{
	display:inline-block;
	text-align:center;
	max-width: 1152px;
	min-width: 620px;
	margin-left: auto;
  	margin-right: auto;
}
header li{display:inline-block;}
header .select{
	background:#077;
	border:5px solid #077;
	color:#FFF;
}
header a{
	display: inline-block;
	cursor: pointer;
	font-size:21px;
	padding:5px 10px;
	color:#FFF;
	background: #333;
	border:5px solid #333;
	font-weight: 1000;
}
header a:hover{
	background:#088;
	color:#FFF;
	border:5px solid #088;
	transition: all 0.5s ease;}